
.vr-point {
    cursor: pointer;
}

.vr-hiden {
    display: none;
    border-color: #7fff00;
}

.vr-hiden td {
    border-color: #00bfff;
}

.collapse-img {
    display: none;
    float: right;
    margin-right: 0;
    padding: 0;
}

.words-list .region {
    margin: 0;
    padding: 0;
    width: 48%;
    text-align: center;
    float: left;
}
.uk-col {
    color: #000080;
}
.us-col {
    color: #800000;
}

.sound {
    cursor: pointer;
}

.tdEdit span {
    
    margin-left: 14%;
}
.tdEdit form {
    float: right;
}
.tdEdit form input {
    width: 50px;
}

#pronIframe {
    width: 0;
    height: 0;
    display: none;
}